@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  max-width: 100%;
  height: 15rem;
  background: url("image-hero-mobile.jpg");
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 2rem;
  position: relative;
}

@media (min-width: 900px) {
  nav {
    background: url("image-hero-desktop.jpg");
  }
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  width: 5rem;
  height: 1rem;
}

@media (min-width: 600px) {
  .logo-img {
    margin-left: 3rem;
  }
}

@media (max-width: 599px) {
  .navigation {
    display: none;
    position: absolute;
    width: 85%;
    background-color: white;
    z-index: 9;
    padding: 0;
    border-radius: 0.8rem;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -26%);
            transform: translate(-50%, -26%);
    font-weight: 700;
    z-index: 3453444;
  }
}

@media (min-width: 600px) {
  .navigation ul li {
    display: inline-block;
    color: white;
    padding-right: 1rem;
    line-height: 0;
  }
}

@media (max-width: 599px) {
  .navigation ul li {
    padding: 0.7rem;
  }
}

@media (min-width: 600px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle .icon-close-menu {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  max-width: 100%;
  height: 15rem;
  background: url("image-hero-mobile.jpg");
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 2rem;
  position: relative;
}

@media (min-width: 900px) {
  nav {
    background: url("image-hero-desktop.jpg");
  }
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  width: 5rem;
  height: 1rem;
}

@media (min-width: 600px) {
  .logo-img {
    margin-left: 3rem;
  }
}

@media (max-width: 599px) {
  .navigation {
    display: none;
    position: absolute;
    width: 85%;
    background-color: white;
    z-index: 9;
    padding: 0;
    border-radius: 0.8rem;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -26%);
            transform: translate(-50%, -26%);
    font-weight: 700;
    z-index: 3453444;
  }
}

@media (min-width: 600px) {
  .navigation ul li {
    display: inline-block;
    color: white;
    padding-right: 1rem;
    line-height: 0;
  }
}

@media (max-width: 599px) {
  .navigation ul li {
    padding: 0.7rem;
  }
}

@media (min-width: 600px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle .icon-close-menu {
  display: none;
}

section {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #ccc;
          box-shadow: 0.1rem 0.1rem 0.5rem #ccc;
  z-index: 98999;
  background-color: white;
}

@media (min-width: 600px) {
  section {
    max-width: 75%;
  }
}

@media (min-width: 900px) {
  section {
    max-width: 50%;
  }
}

.mastercraft::before {
  content: url("logo-mastercraft.svg");
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: auto;
}

.mastercraft {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5rem;
}

.mastercraft h3 {
  padding: 1rem;
}

.mastercraft .buttons {
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mastercraft .buttons .back-project:hover {
  background: #147b74;
}

.mastercraft .buttons .back-project {
  font-weight: 700;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 1.8rem;
  color: white;
}

.mastercraft .buttons .bookmark-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  color: #3cb4ac;
  border-radius: 1.8rem;
  color: white;
  background-color: #7a7a7a;
}

.mastercraft .buttons .bookmark-button .icon-bookmark {
  padding-right: 1.2rem;
  padding-left: 0.6rem;
  margin: auto;
}

@media (max-width: 599px) {
  .mastercraft .buttons .bookmark-button .icon-bookmark {
    display: none;
  }
}

.progress-bar {
  padding: 1rem;
}

.progress-bar .backed {
  padding: 1rem;
}

.progress-bar .backed .amount-backed {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.progress-bar .backed .amount {
  color: #7a7a7a;
}

.progress-bar {
  padding: 1rem;
}

@media (min-width: 600px) {
  .progress-bar .progress-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.progress-bar .progress-flex .backed {
  padding: 1rem;
}

@media (min-width: 600px) {
  .progress-bar .progress-flex .backed {
    border-right: 1px solid #7a7a7a;
    padding: 0 30px 0 0;
  }
}

.progress-bar .progress-flex .backed .amount-backed {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.progress-bar .progress-flex .backed .amount {
  color: #7a7a7a;
}

.progress-bar .progress-flex .backers {
  padding: 1rem;
}

@media (min-width: 600px) {
  .progress-bar .progress-flex .backers {
    border-right: 1px solid #7a7a7a;
    padding: 0 30px 0 0;
  }
}

.progress-bar .progress-flex .backers .total-backers {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.progress-bar .progress-flex .backers .text-backers {
  color: #7a7a7a;
}

.progress-bar .progress-flex .days-left {
  padding: 1rem;
}

.progress-bar .progress-flex .days-left .days {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.progress-bar .progress-flex .days-left .left {
  color: #7a7a7a;
}

.progress-bar .progress-flex hr {
  width: 30%;
  border: 0.5px solid #7a7a7a;
}

@media (min-width: 600px) {
  .progress-bar .progress-flex hr {
    display: none;
  }
}

.progress-bar .progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.progress-bar .progress[value]::-webkit-progress-value {
  background: #3cb4ac;
}

.progress-bar .progress[value]::-moz-progress-bar {
  background: #3cb4ac;
}

.progress-bar .progress {
  height: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 600px) {
  .progress-bar .progress {
    width: 80%;
  }
}

.about-project {
  text-align: left;
  padding: 1.2rem;
}

.about-project p {
  padding: 0.5rem;
}

.about-project .pledge {
  width: 90%;
  border: solid #7a7a7a 0.005rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
}

.about-project .pledge-one .pledge-amount {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .about-project .pledge-one .pledge-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-one .pledge-amount .bamboo-stand {
  font-weight: 700;
}

.about-project .pledge-one .pledge-amount .pledge-twofive {
  color: #3cb4ac;
}

.about-project .pledge-one .bamboo-amount-left {
  margin-top: 1rem;
  margin-right: 5rem;
}

@media (min-width: 600px) {
  .about-project .pledge-one .bamboo-amount-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-one .bamboo-amount-left .bamboo-left .bamboo-number {
  font-size: 3rem;
}

.about-project .pledge-one .bamboo-amount-left .bamboo-tags {
  font-weight: 700;
  text-align: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 1.8rem;
  color: white;
}

@media (min-width: 600px) {
  .about-project .pledge-one .bamboo-amount-left .bamboo-tags {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.about-project .pledge-two .black-pledge-amount {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .about-project .pledge-two .black-pledge-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-two .black-pledge-amount .black-edition {
  font-weight: 700;
}

.about-project .pledge-two .black-pledge-amount .pledge-sevenfive {
  color: #3cb4ac;
}

.about-project .pledge-two .black-amount-left {
  margin-top: 1rem;
  margin-right: 5rem;
}

@media (min-width: 600px) {
  .about-project .pledge-two .black-amount-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-two .black-amount-left .black-left .bamboo-number {
  font-size: 3rem;
}

.about-project .pledge-two .black-amount-left .black-tags {
  font-weight: 700;
  text-align: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 1.8rem;
  color: white;
}

@media (min-width: 600px) {
  .about-project .pledge-two .black-amount-left .black-tags {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.about-project .pledge-three .mahogamy-pledge-amount {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .about-project .pledge-three .mahogamy-pledge-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-three .mahogamy-pledge-amount .mahogamy-edition {
  font-weight: 700;
}

.about-project .pledge-three .mahogamy-pledge-amount .pledge-twohundred {
  color: #3cb4ac;
}

.about-project .pledge-three .mahogamy-amount-left {
  margin-top: 1rem;
  margin-right: 5rem;
}

@media (min-width: 600px) {
  .about-project .pledge-three .mahogamy-amount-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

.about-project .pledge-three .mahogamy-amount-left .mahogany-left .bamboo-number {
  font-size: 3rem;
}

.about-project .pledge-three .mahogamy-amount-left .mahogany-tags {
  font-weight: 700;
  text-align: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #7a7a7a;
  border-radius: 1.8rem;
  color: white;
}

@media (min-width: 600px) {
  .about-project .pledge-three .mahogamy-amount-left .mahogany-tags {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.modal {
  position: absolute;
  z-index: 67566677;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #7a7a7a;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.modal-default {
  width: 85%;
  text-align: left;
  margin: auto;
  border-radius: 0.8rem;
  padding-left: 0.7rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  -webkit-box-shadow: 0.1rem 0.1rem 2000px #6d6464;
          box-shadow: 0.1rem 0.1rem 2000px #6d6464;
  background-color: white;
  position: absolute;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -26%);
          transform: translate(-50%, -26%);
  color: #7a7a7a;
}

@media (min-width: 600px) {
  .modal-default {
    max-width: 75%;
  }
}

@media (min-width: 900px) {
  .modal-default {
    max-width: 50%;
  }
}

.top-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.top-class .header4 {
  color: black;
  text-align: left;
  font-weight: 700;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.no-reward {
  width: 90%;
  border: solid #7a7a7a 0.005rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.bamboo-reward {
  width: 90%;
  border: solid #7a7a7a 0.005rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.bamboo-reward .containment {
  font-weight: 700;
}

.bamboo-reward .containment .moneypledge {
  color: black;
}

.black-reward {
  width: 90%;
  border: solid #7a7a7a 0.005rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.black-reward .containment {
  font-weight: 700;
}

.black-reward .containment .moneypledge {
  color: black;
}

.mahogany-reward {
  width: 90%;
  border: solid #7a7a7a 0.005rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.mahogany-reward .containment {
  font-weight: 700;
}

.mahogany-reward .containment .moneypledge {
  color: black;
}

.select {
  position: relative;
}

.select .left-amount {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .select .left-amount {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
  }
}

.select .left-amount .amount-left {
  font-weight: 700;
  color: black;
}

.modal-pledge {
  text-align: center;
  display: none;
}

@media (min-width: 600px) {
  .modal-pledge .pledge-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal-pledge .pledge-section hr {
  height: 1px;
  background-color: black;
  border: none;
}

.modal-pledge .pledge-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

.modal-pledge .pledge-section form .donation {
  width: 40%;
  height: 3rem;
  border-radius: 5rem;
  border: solid #7a7a7a 0.1rem;
  position: relative;
  text-align: left;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-pledge .pledge-section form .donation .dollar {
  font-weight: 700;
}

.modal-pledge .pledge-section form .donation .pledge-text {
  width: 30%;
  height: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  position: absolute;
}

.modal-pledge .pledge-section form .btn {
  width: 45%;
  height: 3rem;
  border-radius: 5rem;
  border: none;
  background: #3cb4ac;
  color: white;
  font-weight: 700;
}

/*hover effect for modal*/
.select:hover {
  border: solid #3cb4ac 0.2rem;
}

.no-reward:hover .noreward-pledge {
  display: block;
}

.mahogany-reward:hover .mahogamy-pledge {
  display: block;
}

.black-reward:hover .black-pledge {
  display: block;
}

.bamboo-reward:hover .bamboo-pledge {
  display: block;
}

.modal-success-opacity {
  position: absolute;
  z-index: 2334444444;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #7a7a7a;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.modal-success-opacity .modal-success {
  width: 85%;
  text-align: center;
  border-radius: 0.8rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  -webkit-box-shadow: 0.1rem 0.1rem 2000px #6d6464;
          box-shadow: 0.1rem 0.1rem 2000px #6d6464;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -26%);
          transform: translate(-50%, -26%);
  color: #7a7a7a;
}

@media (min-width: 600px) {
  .modal-success-opacity .modal-success {
    max-width: 75%;
  }
}

@media (min-width: 900px) {
  .modal-success-opacity .modal-success {
    max-width: 50%;
  }
}

.modal-success-opacity .modal-success h3 {
  color: black;
}

.modal-success-opacity .modal-success .got-it-btn {
  padding: 1.7rem;
}

.modal-success-opacity .modal-success .got-it-btn .got-it:hover {
  background: #147b74;
}

.modal-success-opacity .modal-success .got-it-btn .got-it {
  font-weight: 700;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 1.8rem;
  color: white;
  border: none;
}

.radio {
  color: #3cb4ac;
  font-weight: bold;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
}

.radio .radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio .radio-input input + .radio-control::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  -webkit-box-shadow: inset 0.5rem 0.5rem currentColor;
          box-shadow: inset 0.5rem 0.5rem currentColor;
  border-radius: 50%;
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.radio .radio-input input:checked + .radio-control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radio .radio-input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio .radio-input .radio-control {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

.radio .radio-label {
  line-height: 1;
}

@media (min-width: 600px) {
  .radio .radio-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 600px) {
  .radio .radio-label .moneypledge {
    margin-left: 0.3rem;
  }
}

body {
  font-family: "Commissioner", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  line-height: 1.2rem;
  position: relative;
}

.crowd-nav, main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.crowd-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main {
  grid-row: 1/-3;
  margin-top: 13rem;
  z-index: 6666;
}
/*# sourceMappingURL=main.css.map */